<main>
  <app-title></app-title>

  <p class="u-font-handwriting u-mb-0-5 word-to-translate"> {{currentTranslation?.it || '' | titlecase}}</p>

  <p class="u-font-handwriting u-mb-0-5">in inglese si scrive</p>

  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Traduzione in inglese</mat-label>
        <input matInput formControlName="translated">
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button type="button" color="accent" (click)="checkAnswer()" class="u-mr-1">
        Rispondi
      </button>

      <button mat-flat-button type="button" (click)="openDialogDictionary()">
        Sbircia il dizionario
      </button>
    </div>



  </form>
</main>
