:host {
  grid-column: span 12;

  @media screen and (min-width: 720px) {
      grid-column: span 8;
  }


  align-items: center;
  justify-content: start;

  mat-form-field {
      display: inline-block;
  }
}

.word-to-translate{
  font-size: 1.5rem;
}
