<div class="wrapper">
  <div class="container">
    <app-main></app-main>
    <app-side></app-side>

    <div class="credits">
      <a href="https://www.linkedin.com/in/matteonaif/" target="_blank">Credits</a>
      <span>|</span>
      <a href="https://github.com/matteo-naif/how-to-translate" target="_blank">Github</a>
    </div>
  </div>


  <div class="bubble bubble--01"></div>
  <div class="bubble bubble--02"></div>
  <div class="bubble bubble--03"></div>
  <div class="bubble bubble--04"></div>
</div>
